:root
{
  --bg-main:#131722;
  --main-color:#fff;
  --light-bg:#24baef;


}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
.mh{ 
  min-height: 80vh
}

body  {
   background-color: #131722;
  color: var(--main-color) ;
  min-height: 100vh;
  z-index: 11;
  }
  
   li a:hover {

      color:red!important ;
  }

  input{
    background-color: transparent!important;
    color:var(--main-color)!important;
    margin-bottom: 5px;
    
  
  }
  .brdr 
  {
    height: 1px;
    background-color: #a8a8a83d;
  }

  a  ,a:hover {
    color: #fff;
    text-decoration: none;
  }
  .paginat { 
    cursor: pointer;
  }
  /* img {
    height: 100%;
  } */
   .redColor { 
    color: red!important;
  }
  .det{ 
    height: 52vh;
  }
  footer { 
    /* position: absolute; */
    bottom: 0;
    width: 100%;

  }
